


@media screen and (min-width: 400px) {
    .dataField{
        width: 60%;
        position: relative;
        border: 1px solid crimson;
        border-radius: 0.3rem;
        padding: 0.7rem 0.7rem 0.7rem 0.7rem;
        margin-bottom: 10px;
    
    }
    
    
    .dataLabel{
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
        font-size: 0.6rem;
        font-weight: bold;
        color: crimson;
    }


    .dataInputField{
        display: flex;
    }
    
    .dataInput{
        height: 0.8rem;
        display: block;
        width: 90%;
        background: 0 0;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
        font-size: 0.6rem;
        color: #0c0c0c;
    
    }
    
    .dataClearBtn{
        display: block;
        float: right;
        position: relative;
        font-size: 0.6rem;
        font-weight: bold;
        color: #6b6b6b;
        background-color: white;
        border-color: white;
    }
}





@media screen and (min-width: 800px) {
    .dataField{
        width: 60%;
        position: relative;
        border: 1px solid crimson;
        border-radius: 1rem;
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 20px;
    
    }
    
    
    .dataLabel{
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
        font-size: 1rem;
        font-weight: bold;
        color: crimson;
    }
    

    .dataInputField{
        display: flex;
    }
    
    .dataInput{
        height: 1.2rem;
        display: block;
        width: 90%;
        background: 0 0;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
        font-size: 1rem;
        color: #0c0c0c;
    
    }
    
    .dataClearBtn{
        display: block;
        float: right;
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        color: #6b6b6b;
        background-color: white;
        border-color: white;
    }
}



