.logo{
    text-align: left;
    margin-left: 1.5%;
    margin-top: 1.5%;
}



@media screen and (min-width: 400px) {

    .logo_img{
        float: left;
        margin-right: 2%;
    }
    
    .l_img{
        height: 3rem;
        width: 3.3rem;
    }
    
    
    .logo_text{
        color: crimson;
    }
    
    
    .logo_text_1{
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
    }
    
    .logo_text_2{
        margin-top: -0.9rem;
        font-size: 0.6rem;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
    }

}



@media screen and (min-width: 800px) {

    .logo_img{
        float: left;
        margin-right: 1%;
    }
    
    .l_img{
        height: 4.5rem;
        width: 5rem;
    }
    
    
    .logo_text{
        color: crimson;
    }
    
    
    .logo_text_1{
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
    }
    
    .logo_text_2{
        margin-top: -1.3rem;
        font-size: 0.8rem;
        font-family: 'AdorshoLipi', Arial, sans-serif !important;
    }

}






