@media screen and (min-width: 350px) {

    .previewData{
        display: flex;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    
    }

    .previewDataLabel{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 0.7rem;
        font-weight: bold;
        text-align: justify;
    }
    
    .previewColon{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 0.7rem;
        font-weight: bold;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    .previewDataValue{
        width:auto;
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 0.7rem;
    }
}



@media screen and (min-width: 800px) {

    .previewData{
        display: flex;
        padding: 0.5rem 1rem 0.5rem 1rem;
    
    }

    .previewDataLabel{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 1rem;
        font-weight: bold;
        text-align: justify;
    }
    
    .previewColon{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 1rem;
        font-weight: bold;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .previewDataValue{
        width:auto;
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 1rem;
    }
}




