



@media screen and (max-width: 800px) {


    .pageLabel{
        text-align: center;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 1rem;
        font-weight: bold;
    }


    .allField{
    
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }

    .prePersInfo{
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }

    .prePersInfoLabel{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 0.7rem;
        font-weight: bold;
        text-align: justify;
    }

    .preview_margin{
        margin-top: 5%;
    }

    .tableIndexCol{
        width: 6%;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 0.5rem;
        font-weight: bold;
        border: 1px solid black;
    }

    .tableLabelCol{
        width: 20%;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 0.5rem;
        font-weight: bold;
        text-align: left;
        padding-left: 0.25rem;
        border: 1px solid black;
    }
    
    .tableValueCol{
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 0.5rem;
        text-align: left;
        padding-left: 0.5rem;
        border: 1px solid black;
        font-weight: lighter;
    }

    .preAppProPic{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: center;
    }


    .preAppSignPic{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: right;
    }

    .preAppProImg{
        height: 60px;
        width: 60px;
        text-align: center;
        padding: 0.5rem;
        position: relative;
        cursor: pointer;
    }

    .preAppSignImg{
        height: 25px;
        width: 80px;
        text-align: center;
        padding: 0.5rem;
        position: relative;
        cursor: pointer;
    }

    .preButton{
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2%;
    }

    .preNormalButton{
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 0.6rem;
        color: crimson;
        height: auto;
        width: auto;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        border-radius: 2rem;
        background-color: white;
        border-color: crimson;

    }

    .preview_logo{
        display: grid;
        grid-template-columns: 100%;
        margin-left: 15%;
    }

    
    

}


@media screen and (min-width: 800px) {



    .pageLabel{
        text-align: center;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1%;
    }


    .allField{
    
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
    }

    .prePersInfo{
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .prePersInfoLabel{
        font-family: 'AdorshoLipi', sans-serif, Arial !important;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: justify;
    }

    .preview_margin{
        margin-top: 5%;
    }

    .tableIndexCol{
        width: 5%;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid black;
    }

    .tableLabelCol{
        width: 20%;
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        padding-left: 0.5rem;
        border: 1px solid black;
    }
    
    .tableValueCol{
        font-family: 'AdorshoLipi', sans-serif, Arial  !important;
        font-size: 1rem;
        text-align: left;
        padding-left: 1rem;
        border: 1px solid black;
        font-weight: normal;
    
    }


    .preAppProPic{
        padding: 1rem 1rem 1rem 1rem;
        text-align: right;
    }


    .preAppSignPic{
        padding: 1rem 1rem 1rem 1rem;
        text-align: right;
    }

    .preAppProImg{
        height: 150px;
        width: 150px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }


    .preAppSignImg{
        height: 40px;
        width: 150px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }

    .preButton{
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2%;
    }

    .preNormalButton{
        font-family: 'AdorshoLipi',sans-serif, Arial  !important;
        font-size: 1rem;
        color: crimson;
        height: auto;
        width: auto;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 2rem;
        background-color: white;
        border-color: crimson;

    }


    .preview_logo{
        display: grid;
        grid-template-columns: 100%;
        margin-left: 30%;
    }


}




.previewApp{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.preBasicFieldwithProPic{
    display: flex;
    justify-content: space-between;
    align-items: left;
}








